* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.shelter-card {
    background-color: rgb(120, 120, 120);
    border-radius: 10px;
    border-style: dashed;
    padding: 1em;
    margin-bottom: 1em;
}

.container {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
